@import "variable";
@import "mixins";
@import "admin";

//////////////////////////////////////
// Admin 레이아웃
//////////////////////////////////////

.admin-inner {
  @include inner-padding($admin-width, 0, $size-base*6);
}

//////////////////////////////////////
// Admin 상단
//////////////////////////////////////

.admin-header{
  @include admin-header;
  // Admin 로고블럭
  .logo-top {
    @include logo-top;
  }
  // Admin 상단네비
  .nav-top {
    @include nav-top;
  }
}

//////////////////////////////////////
// Admin 컨텐츠
//////////////////////////////////////

.admin-section {
  @include admin-section;

  // Admin 좌측 컨텐츠
  .admin-aside {
    @include admin-aside;
    .site-user {
      @include site-user;
    }
    .nav-side {
      @include nav-side;
    }
  }
  // Admin 우측 컨텐츠
  .admin-container{
    @include admin-container;

    // Admin 우측 컨텐츠 헤더
    .container-head {
      @include container-head;
    }
    // Admin 우측 컨텐츠 영역
    .container-content {
      .content-set {
        @include content-set;
      }

      // Admin 우측 컨텐츠 푸터
      footer {
        @include footer;
      }
    }
  }
}

//////////////////////////////////////
// Admin 컨텐츠 옵션 레이아웃
//////////////////////////////////////

.option-grid {
  @include flex-start-center;
  margin-bottom: 60px;
}
.option-grid-two {
  @extend .option-grid;
  gap: 40px;
}
.option {
  @include option-group;

  // 대시보드 컨텐츠 area 기본
  &-container {
    position: relative;
  }
  // 대시보드 컨텐츠 area 상태현황
  &-status {
    @include option-status;
  }
  // 대시보드 컨텐츠 area 관리메모
  &-memo {
    @include option-memo;
  }
  // 대시보드 컨텐츠 area 게시물
  &-board {
    @include option-board;
  }
  // 대시보드 컨텐츠 area 옵션

}

//////////////////////////////////////
// Admin 컨텐츠 옵션영역
//////////////////////////////////////

  // Admin 옵션 설정 기본 셋
.option-setting {
  .option-items {
    // area설정 & 타이틀 & 하단텍스트
    @include option-items;
    .item-option { // 기본 옵션바
      @include item-option;
    }
    .item-option-340 { // 옵션바 임의사이즈 변경
      @include item-option-340;
    }
  }
  // 옵션 컨텐츠 반복섹션 textarea 
  .option-items2 {
    @include option-items2;
  }
  // 약관 컨텐츠 반복섹션 textarea
  .option-items-terms {
    @include option-items-terms;
  }
  // Admin 컨텐츠 설정 하단 참고문구
  h3 {
    @include area-bottom-text;
  }
}

// Admin Page 하단 버튼
.page-btn {
  @include page-btn;
}