// laout - Mixins
@mixin inner($width) {
  width: $width;
  margin: 0 auto;
  position: relative;
}
@mixin inner-padding($width, $padding-up, $padding-dw,) {
  width: $width;
  padding: $padding-up $padding-dw;
  position: relative;
}
@mixin inner-margin($width, $margin-up, $margin-dw) {
  width: $width;
  margin: $margin-up $margin-dw;
  position: relative;
}

// img - Mixins
@mixin bg($name, $path: "../images/", $format: "png") {
  background-image: url("#{$path}#{$name}.#{$format}");
  background-size: cover;
  background-position: center;
}

// admin-option - Mixins
@mixin option-group {
  width: 100%;
  position: relative;
  &-title {
    @include flex-start-start;
    gap: 20px;
    padding-bottom: $size-base*2.5;
    border-bottom: 2px solid map-get($color, main-color);
    h1 {
      font-size: 16px;
      color: map-get($color, main-color);
    }
    p {
      font-size: 12px;
      color: map-get($color, reference-color);
    }
  }
  &-right-btn {
    position: absolute;
    right: 0;
    top: -10px;
  }
  &-between {
    @include flex-start-between;
    padding-bottom: $size-base*2.5;
    border-bottom: 2px solid map-get($color, main-color);
    h1 {
      font-size: 16px;
      color: map-get($color, main-color);
    }
    p {
      font-size: 13px;
      color: map-get($color, reference-color);
    }
    // Admin 대시보드 통계 셀렉트
    .date-selectbox {
      border: 1px solid #ddd;
      padding: 4px 10px;
      border-radius: 4px;
      &:focus {
        outline: none;
      }
    }
  }
}

// Flex - Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
}
@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-center-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@mixin flex-center-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@mixin flex-stretch-start {
  display: flex;
  align-items: stretch;
  justify-content: start;
}
@mixin flex-center-start {
  display: flex;
  align-items: center;
  justify-content: start;
}
@mixin flex-center-end {
  display: flex;
  align-items: center;
  justify-content: end;
}
@mixin flex-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@mixin flex-start-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@mixin flex-start-around {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
@mixin flex-start-evenly {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
@mixin flex-start-start {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}
@mixin flex-start-end {
  display: flex;
  align-items: flex-start;
  justify-content: end;
}
@mixin flex-end-center {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@mixin flex-end-between {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@mixin flex-end-around {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
@mixin flex-end-evenly {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
@mixin flex-end-start {
  display: flex;
  align-items: flex-end;
  justify-content: start;
}
@mixin flex-end-end {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
@mixin flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
