// size-base
$size-base: 10px;
$font-base: 10px;

// Color
$color: (
  main-color: #0051CB,
  second-color: #1f66d1,
  reference-color: #A4A4A4,
  disble-color: #cbcbcb,
  delete-color: #ff5722,
  placeholder-color: #adadad,
  basic-color: #fff,
  font-color-w: #fff
);

// Admin 로고사이즈
$admin-logo-tab: (
  title-color: #fff,
  title-size: 20px,
  img-size-w: auto,
  img-size-h: 70px,
);

// Admin 상단메뉴
$admin-nav-tab : (
  width: 110px,
  interval: 50px, // 간격
  inactivec: #a6c2ed, // 비활성 컬러
  activation: #ffffff, // 활성 컬러
  //nav-font-size: $font-base*2,
);

// Admin 컨텐츠 기준사이즈
$admin-width: 1296px;

// Admin 사이드메뉴
$admin-side: (
  side-width: 265px,
  border-line: #ededed,
  inactivec: #767676, // 비활성 컬러
  activation: #3c3c3c, // 오버 컬러
);

// Admin 푸터
$admin-fotter: (
  height: 70px,
  bg: #F3F5F7,
);

// Admin 보더 컬러
$border-color: (
  basic: #eaeaea,// 일반
);

// Admin 대시보드 상태현황 컬러
$status-color: (
  basic: #111, // 기본
  inactivec: #C2C2C2, // 비활성 컬러
  activation: #157D50, // 활성 컬러
  emphasis: #FF0000, // 강조 컬러
);
