//////////////////////////////////////
// Admin 상단
//////////////////////////////////////

// Admin 헤더
@mixin admin-header{
  @include flex-center;
  width: 100%;
  height: $size-base*7;
  background-color: map-get($color, main-color);
  gap: map-get($admin-nav-tab, interval);
}

// Admin 로고블럭
@mixin logo-top {
  width: map-get($admin-side, side-width);
  padding: 0 26px;
  a {
    color: map-get($admin-logo-tab, title-color);
    font-weight: 700;
    font-size: map-get($admin-logo-tab, title-size);
    text-decoration: none;
    img {
      width: map-get($admin-logo-tab, img-size-w);
      height: map-get($admin-logo-tab, img-size-h);
    }
  }
}

// Admin 상단네비
@mixin nav-top {
  ul {
    @include flex-center;
    list-style: none;
    gap: map-get($admin-nav-tab, interval);
    li {
      position: relative;
      width: map-get($admin-nav-tab, width);
      text-align: center;
      color: map-get($admin-nav-tab, inactivec);
      font-weight: 400;
      font-size: 15px;
      cursor: pointer;
      &::before {
        opacity: 0;
        content: '';
        position: absolute;
        bottom: -24px;
        left: 0;
        width: map-get($admin-nav-tab, width);
        height: 10px;
        background-color: map-get($admin-nav-tab, activation);
        border-radius: 8px 8px 0 0;
      }
      &:hover {
        a {
          color: map-get($admin-nav-tab, activation);
          transition: 0.35s;
        }
      }
    }
    .nuxt-link-active {
      color: map-get($admin-nav-tab, activation);
      &::before{
        opacity: 1;
      }
    }
  }
}

//////////////////////////////////////
// Admin 컨텐츠
//////////////////////////////////////

// Admin 섹션
@mixin admin-section {
  width: 100%;
  height: 100%;
  @include flex-center;
}

// Admin 좌측 컨텐츠
@mixin admin-aside {
  width: map-get($admin-side, side-width);
  height: auto;
  min-height: calc(100vh - 70px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  padding: 24px;
  position: relative;
}

// Admin 좌측 컨텐츠 유저영역
@mixin site-user {
  width: 210px;
  height: 100px;
  padding: 30px 24px;
  background-color: #F3F5F7;
  h1 {
    font-size: 16px;
    font-weight: 500;
    color: #5B6571;
  }
  p {
    font-size: 12px;
    color: #A8B4BF;
    margin: 0;
  }
}

// Admin 좌측 컨텐츠 사이드네비
@mixin nav-side {
  ul {
    list-style: none;
    li {
      position: relative;
      padding: 14px 5px;
      border-bottom: 1px solid #e4e9ee;
      transition: 0.35s;
      cursor: pointer;
      a {
        font-size: 14px;
        font-weight: 400;
        color: map-get($admin-side, inactivec);
        img {
          height: 20px;
        }
      }
      &::after {
        content: '';
        display:block;
        position: absolute;
        height: 2px;
        width: 0;
        left: 0;
        bottom: 0;
        border-bottom: solid 2px map-get($admin-side, border-line);
        transition: width 0.35s ease-in-out;
      }
      &:hover {
        padding: 14px 10px;
        a {
          color: map-get($admin-side, activation);
        }
      }
      &:hover::after {
        width: 100%;
      }
    }
    .nuxt-link-active {
      border-bottom: 2px solid map-get($color, second-color);
      color: map-get($color, main-color)!important;
      font-weight: 500;
      &::after {
        opacity: 0;
      }
    }
  }
}

// Admin 우측 컨텐츠
@mixin admin-container{
  width: 100%;
}

// Admin 우측 컨텐츠 헤더
@mixin container-head {
  @include flex-center;
  width: 100%;
  height: 90px;
  background-color: #F3F5F7;
  div {
    @include flex-center-between;
    gap: 25px;
    .container-title {
      @include flex-end-start;
      h1 {
        font-size: 22px;
        font-weight: 600;
        color: #4a4a4a;
      }
      p {
        font-size: 14px;
        color: #707070;
      }
    }
    .container-info {
      @include flex-center-start;
      gap: 14px;
      p {
        font-size: 16px;
        color: #828689;
        font-weight: 400;
        span {
          color: #F8305F;
        }
      }
      .volume {
        width: 128px;
        height: 20px;
        background-color: #E3E3E3;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top:0;
          left:0;
          height: 20px;
          width:0;
          animation: progress 4s ease forwards;
          background-color: #F44336;
        }
        @keyframes progress{
          0%{width: 0px}
          100%{width: 60%;}
        }
      }
    }
  }
}

// Admin 우측 컨텐츠 영역
@mixin content-set {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 230px);
  padding: 40px 0;
}

// Admin 우측 컨텐츠 푸터
@mixin footer {
  width: 100%;
  height: map-get($admin-fotter, height);
  line-height: map-get($admin-fotter, height);
  font-size: 14px;
  color: #707070;
  background-color: map-get($admin-fotter, bg);
}

//////////////////////////////////////
// Admin 대시보드 컨텐츠
//////////////////////////////////////

// 대시보드 상태현황
@mixin option-status {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-left: 1px solid map-get($border-color, basic);
  .status-item {
    padding: 25px 16px;
    border-bottom: 1px solid map-get($border-color, basic);
    border-right: 1px solid map-get($border-color, basic);
    h1 {
      font-size: 12px;
      color: #9E9E9E;
      margin-bottom: 20px;
    }
    a {
      display: block;
      width: 100%;
      text-align: right;
      font-size: 18px;
      font-weight: 500;
    }
    .color-basic {
      color: map-get($status-color, basic);
    }
    .color-inactivec {
      color: map-get($status-color, inactivec);
      text-decoration: underline;
      font-weight: 400;
    }
    .color-activation {
      color: map-get($status-color, activation);
    }
    .color-emphasis {
      color: map-get($status-color, emphasis);
    }
  }
}

// 관리자단 버튼
.btn {
  display: block;
  margin: 4px 0;
  padding: 6px 24px;
  border: none;
  border-radius: 3px;
  outline: none;
  transition: .35s;
  cursor: pointer;
}
// 관리자단 활성버튼
.option-btn {
  @extend .btn;
  color: #fff;
  background-color: #4082e9;
  &:hover {
    background-color: #5b8fdf;
  }
}
// 관리자단 아웃라인 버튼
.option-btn-outline {
  @extend .btn;
  color: #333;
  padding: 6px 20px;
  border: 1px solid #f0f0f0;
  background-color: #fff;
  &:hover {
    background-color: #f9f9f9;
  }
}
// 관리자단 비활성 버튼
.option-btn-disabled {
  @extend .btn;
  color: #cbcbcb;
  background-color: #f0f0f0;
}
// 게시판 리스트 알림박스
.bd-list {
  width: 54px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
}
.bd-noclear {
  @extend .bd-list;
  background: #FF9800;
}
.bd-clear {
  @extend .bd-list;
  background: #4CAF50;
}

@mixin btn-area {
  @include flex-center-between;
  p {
    font-size: 13px;
    color: map-get($color, reference-color);
    span {
      color: #111;
      font-weight: 500;
    }
  }
}

// 대시보드 관리메모
@mixin option-memo {
  width: 100%;
  textarea {
    width: 100%;
    border: 1px solid map-get($border-color, basic);
    padding: 20px;
    height: 170px;
    font-size: 12px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: map-get($color, placeholder-color);
    }
  }
  .btn-area {
    @include btn-area;
  }
}

// Admin 대시보드 게시물
@mixin option-board {
  ul {
    li {
      @include flex-center-between;
      gap: 20px;
      font-size: 14px;
      padding: 18px 10px;
      border-bottom: 1px solid map-get($border-color, basic);
      position: relative;
      label {
        @include flex-center-between;
        gap: 20px;
      }
      .board-subject {
        @include flex-center-between;
        width: 100%;
      }
      &::after {
        content:"";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #f3f3f3;
        transition: 0.7s;
      }
      &:hover {
        p, a {
          color: #3b6099;
        }
      }
      &:hover::after {
        width: 100%;

      }
    }
  }

  .btn-area {
    @include btn-area;
    margin-top: 8px;
    .check-delete {
      padding: 0 10px;
      @include flex-center;
      gap: 10px;
      label {
        font-size: 13px;
        padding: 2px 8px;
        background-color: #efefef;
        border-radius: 6px;
        font-weight: 400;
        color: #959595;
        cursor: pointer;
        &:hover {
          background-color: #f1f1f1;
          color: #3e3e3e;
        }
      }
    }
    .btn-group {
      padding: 0 10px;
      @include flex-center;
      gap: 10px;
    }
  }
}