/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

@import "reset";
@import "variable";
@import "mixins";
@import "layout";
@import "admin";


.menu-layout-items {
  width: 180px;
  height: 115px;
  border: 1px solid #ccc;
  position: relative;
  margin-top: 14px;
  .menu-type {
    width: 100%;
    height: 35px;
    padding: 4px;
    border-bottom: 1px solid #ccc;
    .logo-area {
      border: 2px dotted map-get($color, sub-color);
      padding: 0 2px;
    }
    .menu-area {
      border: 2px dotted map-get($color, second-color);
      padding: 0 2px;
    }
    p {font-size: 12px;}
  }
  .content-area {
    @include flex-center-center;
    height: 80px;
  }

}
.menu-layout-items1 {
  @extend .menu-layout-items;
  .menu-type {
    @include flex-start-start;
    gap: 2px;
  }
}
.menu-layout-items2 {
  @extend .menu-layout-items;
  .menu-type {
    @include flex-start-start;
    gap: 2px;
    .logo-area {min-width: 53px;}
    .menu-right {
      width: 100%;
      @include flex-center-center;
    }
  }
}
.menu-layout-items3 {
  @extend .menu-layout-items;
  .menu-type {
    @include flex-start-between;
    gap: 2px;
  }
}
.menu-layout-items4 {
  @extend .menu-layout-items;
  .menu-type {
    @include flex-center-center;
    gap: 2px;
  }
}
.menu-layout-items5 {
  @extend .menu-layout-items;
  .menu-type {
    @include flex-start-around;
    gap: 2px;
  }
}
.menu-layout-items6 {
  @extend .menu-layout-items;
  width: 160px;
  height: 40px;
  border-bottom: none;
  .menu-type {
    @include flex-center-center;
    height: 100%;
    ul {
      @include flex-center-center;
      gap: 8px;
      font-size: 12px;
    }
  }
}
.menu-layout-items6 {
  .menu-type {
    ul {
      .active1 {
        color: #0051CB;
        font-weight: 500;
      }
      .active2 {
        color: #0051CB;
        font-weight: 500;
        position: relative;
      }
      .active2::before{
        content: '';
        position: absolute;
        bottom: -10px;
        width: 30px;
        height: 2px;
        background-color: #0051cb;
      }
      .active3 {
        color: #fff;
        font-weight: 500;
        background-color: #0051CB;
        padding: 9px 3px;
      }
    }
  }
}
